body {
  font-family: lato, helvetica, arial, sans-serif;
  font-size: 16px;

  color: #445;
  background: #dfefff;

  margin: 0;
}

#container {
  max-width: 900px;
  margin: 32px auto;
}

p a {
  color: #48c;
  text-decoration: none;
  background: #bef;
  padding: 2px;
  border-radius: 2px;
  transition: .3s background, .3s color;
}

p a:focus, p a:hover {
  background: #fff;
  color: #8cf;
}

code {
  background: #333;
  color: #ccc;
  padding: 2px;
  margin: 0 2px;
  border-radius: 2px;
}

.heart {
  color: #a33;
}

.media {
  display: flex;
}

.media a {
  margin: 4px;
  flex: 1 1 auto;
  min-width: 0;
}

.media img {
  max-width: 100%;
}

.downloads {
  list-style-type: none;
  padding: 0;
}

.downloads li {
  margin: 8px;
  padding: 8px;
  border-left: 4px solid #369;
  padding-left: 12px;
  transition: .3s background, .3s border;
}

.downloads li:hover {
  background: #bef;
  border-left: 4px solid #137;
}

.downloads li>a {
  text-decoration: none;
  color: #678; /* ❤ */
}

.download-header {
  font-weight: bold;
  color: #369;
  transition: .3s color;
}

.downloads li:hover .download-header {
  color: #6af;
}
